.body {
  gap: 88px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.profile img {
  margin-right: 15px;
}

.profile,
.editIcon,
.deleteIcon {
  cursor: pointer;
}

.profile .birthday {
  margin-top: 4px;
  color: #5b7083;
  font-size: 14px;
}
.deleteIcon{
  width: 18px;
  height: 21px;
  flex-shrink: 0;
}
.editIcon {
  margin-right: 17px;
  width: 18px;
  height: 21px;
  flex-shrink: 0;
}

.header .icon {
  display: flex;
  align-items: center;
}

.description {
  max-width: 310px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}

.descriptionMio {
  font-size: 14px;
}

.content {
  margin-bottom: 52px;
  color: #000;
  font-family: Segoe UI;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}



.descriptionMio .TextResult {
  color: #064ebc;
  font-size: 25px;
  margin: 20px 0 10px;
}

.descriptionMio .Messenger {
  color: #000;
  font-size: 18px;
}
