.body {
  gap: 88px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.profile img {
  margin-right: 15px;
}

.profile,
.editIcon,
.deleteIcon {
  cursor: pointer;
}

.profile .birthday {
  margin-top: 4px;
  color: #5b7083;
  font-size: 14px;
}
.deleteIcon {
  width: 18px;
  height: 21px;
  flex-shrink: 0;
}
.editIcon {
  margin-right: 17px;
  width: 18px;
  height: 21px;
  flex-shrink: 0;
}

.header .icon {
  display: flex;
  align-items: center;
}

.description {
  max-width: 310px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}

.descriptionMio {
  font-size: 14px;
}

.content {
  margin-bottom: 52px;
  color: #000;
  font-family: Segoe UI;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.descriptionMio .TextResult {
  color: #064ebc;
  font-size: 25px;
  margin: 20px 0 10px;
}

.descriptionMio .Messenger {
  color: #000;
  font-size: 18px;
}
a {
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 768px) {
  .body {
    max-width: 400px;
    display: block;
    gap: 16px;
    justify-content: center;
    align-content: center;
  }

  .header {
    align-items: center;
    margin-bottom: 10px;
  }

  .profile {
    gap: 8%;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .profile img {
    margin-right: 0;
    width: 30%;
    height: 30%;
  }

  .editIcon,
  .deleteIcon {
    margin: 0 5px;
  }

  .description {
    max-width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .content {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 18px;
  }

  .descriptionMio .TextResult {
    font-size: 20px;
    margin: 15px 0 8px;
  }

  .descriptionMio .Messenger {
    font-size: 16px;
  }
  .img {
    text-align: center;
    width: 100%;
  }
}
