.body {
  gap: 88px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 1106px;
  margin: 0 auto;
}

.content {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Profile {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.Profile img {
  margin-right: 15px;
}

.Profile,
.editIcon,
.deleteIcon {
  cursor: pointer;
}

.Profile .date {
  margin-top: 4px;
  color: #5b7083;
  font-size: 14px;
}

.Profile img{
 max-width: 50px;
 max-height: 50px;
}

.img img{
  max-width: 310px;
  max-height: 206px;
}

.editIcon {
  margin-right: 17px;
}

.header .icon {
  display: flex;
  align-items: center;
}

.description {
  max-width: 310px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}

.descriptionMio {
  font-size: 14px;
}

.content {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .body {
    gap: 30px;
    margin: 0 20px;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .body {
    margin: 0 auto;
  }
}
