.navbar {
  justify-content: end;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 52px;
}

.btnAdd {
  margin-right: 20px;
  padding: 15px 30px;
  color: #fff;
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  background: #064ebc;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.btnAdd:hover {
  cursor: pointer;
}

.searchName input[type="text"] {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  outline: none;
  border: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 95px 14px 24px;
}

.search {
  display: flex;
  align-items: center;
}

.iconSearch {
  position: absolute;
  right: 14px;
}

.iconSearch {
  cursor: pointer;
}

.searchName input::placeholder {
  color: #dfdfdf;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
/* 
@media (max-width: 768px) {
  .navbar {
    
  }

  .iconSearch {
    right: 8px;
  }
  .search {
    margin-bottom: 20px;
    position: relative;
  }
  .btnAdd {
    margin-right: 0px;
  }
} */
@media screen and (min-width: 378px) and (max-width: 768px) {
  .navbar {
    justify-content: center; 
    margin-bottom: 20px; 
  }
  
  .btnAdd {
    width: 21%;
    padding: 13px 24px;
    font-size: 13px;
    margin-top: 8px;
  }
  
  .searchName input[type="text"] {
    padding: 10px 70px 10px 14px; 
  }
  
  .iconSearch {
    right: 8px; 
  }
  
  .searchName input::placeholder {
    font-size: 14px;
  }
}






