.navbar {
  justify-content: end;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 52px;
}

.btnAdd {
  border: none;
  margin-right: 20px;
  padding: 15px 30px;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  background: #064ebc;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.btnAdd:hover {
  cursor: pointer;
}

input[type="text"] {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  outline: none;
  border: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 95px 14px 24px;
}

.btnSearch {
  display: flex;
  align-items: center;
}

.iconSearch {
  position: absolute;
  right: 14px;
  cursor: pointer;
  margin-top: 8px;
}

.searchName input::placeholder {
  color: #dfdfdf;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}


@media (min-width: 300px) and (max-width: 768px) {
  .navbar {
    justify-content: center;
    margin-bottom: 30px;
  }

  .btnAdd {
    width: 25%;
    padding: 13px 8px;
    font-size: 12px;
  }

  input[type="text"] {
    font-size: 13px;
    padding: 12px 80px 11px 16px;
  }

  .iconSearch {
    right: 10px;
  }

  .searchName input::placeholder {
    font-size: 13px;
  }
 
}
