.Body {
  gap: 88px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 1106px;
  margin: 0 auto;
}

.Header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Profile {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.Profile img {
  margin-right: 15px;
}

.Profile,
.EditIcon,
.DeleteIcon {
  cursor: pointer;
}

.Profile .Birthday {
  margin-top: 4px;
  color: #5b7083;
  font-size: 14px;
}

.EditIcon {
  margin-right: 17px;
}

.Header .Icon {
  display: flex;
  align-items: center;
}

.Description {
  max-width: 310px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}

.DescriptionMio {
  font-size: 14px;
}

.Content {
  margin-bottom: 52px;
}

.SearchUndefined {
  padding-top: 28px;
  color: #000;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

.SearchUndefined .TextResult {
  color: #064ebc;
  font-size: 25px;
  margin: 20px 0 10px;
}

.SearchUndefined .Messenger {
  color: #000;
  font-size: 18px;
}
