.container {
  max-width: 1336px;
  height: 100vh;
  padding: 0 4%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* Định nghĩa @font-face nên đặt ở phần đầu CSS */
@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Semibold");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic");
}

.titleCard {
  color: #000;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  padding: 32px 0px 58px 0px;
  line-height: 47px; /* 134.286% */
}
.userLists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Username */
.username {
  color: #000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
  margin: 0;
  padding: 0;
}
.datetime {
  color: #888;
  margin-top: 4px;
}



.image {
  max-width: 100%;
  margin-top: 10px;
}

.postUser {
  border: none;
  margin-top: 100px;
  display: flex;
  gap: 88px;
  justify-content: space-between;
}

.post {
  display: flex;
  flex-direction: column;
  border: none;
  width: 380px;
  background-color: #fff;
}

.avatar {
  border-radius: 1px;
  margin-bottom: 15px;
  object-fit: cover;
  text-align: center;
  width: 50px;
  height: 50px;
}

.datetime {
  color: #5b7083;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
}

.content {
  font-size: 15px;
  margin-bottom: 15px;
  color: #000;
  font-family: "Segoe UI", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.image {
  max-width: 100%;
  height: auto;
}
.UserTitle {
  display: flex;
  justify-content: space-between;
}

.UserName {
  margin: 0;
  padding: 0;
}
.AvatarUser{
  display: flex;
  gap:15px;
}
.IconEditDelete{
  display: flex;
  gap:17px;  
  
}
.IconEdit,
.IconDelete {
  width: 20px;
  height: 20px;
}

.NotFound {
  display: flex; 
  align-items: center;
  text-align: center;
  flex-direction: column;

}

.NotFound .image {
  width: 250px;
  height: 186px;
}

.Results {
  margin: 20px 0 10px 0;
  color: #064ebc;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.No_Content {
  color: #000;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
