.container {
  max-width: 1336px;
  height: 100vh;
  padding: 0 4%;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}
.title_card {
  color: #000;
  text-align: center;
  font-family: Segoe UI;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  padding: 32px 0px 58px 0px;
  line-height: 47px; /* 134.286% */
}/* Assuming you have defined the necessary styles for the rest of your app */

/* Container for user posts */
.user-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Individual social card */
.post {
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(33.33% - 20px);
  /* Adjust the width and spacing as needed */
  box-sizing: border-box;
}

/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Username */
.username {
  font-weight: bold;
  margin-top: 5px;
}

/* Datetime */
.datetime {
  color: #888;
  margin-top: 5px;
}

/* Content */
.content {
  margin-top: 10px;
}

/* Image */
.image {
  max-width: 100%;
  margin-top: 10px;
}
.post_user {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}


.post {
  display: flex;
  flex-direction: column;
  
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  /* Sử dụng border-radius để làm hình vuông có góc bo tròn */
  margin-bottom: 10px;
  object-fit: cover;
  /* Đảm bảo hình ảnh bị cắt hoặc co dãn để lấp đầy khung hình vuông */
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
}

.datetime {
  color: #888;
  margin-bottom: 5px;
}

.content {
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  height: auto;
}